<!-- Horizontal Menu Start -->
<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="page-container">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="index.html">
                            <span class="menu-icon"><i class="mdi mdi-view-dashboard align-middle"></i></span>
                            <span class="menu-text"> Dashboards </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="apps-calendar.html" id="topnav-apps" role="button">
                            <span class="menu-icon"><i class="mdi mdi-calendar-month align-middle"></i></span>
                            <span class="menu-text">Calendar</span>                           
                        </a>                      
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="mdi mdi-book-open-page-variant-outline align-middle"></i></span>
                            <span class="menu-text">Extra Pages</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Authentication <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="auth-login.html" class="dropdown-item">Login</a>
                                    <a href="auth-register.html" class="dropdown-item">Register</a>                                 
                                    <a href="auth-recoverpw.html" class="dropdown-item">Recover Password</a>
                                    <a href="auth-lock-screen.html" class="dropdown-item">Lock Screen</a>                                    
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-error" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Error <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="pages-404.html" class="dropdown-item">Error 404</a>
                                    <a href="pages-404-alt.html" class="dropdown-item">Error 404-alt</a>
                                    <a href="pages-500.html" class="dropdown-item">Error 500</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-page" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-page">
                                    <a href="pages-starter.html" class="dropdown-item">Starter Page</a>
                                    <a href="pages-timeline.html" class="dropdown-item">Timeline</a>
                                    <a href="pages-invoice.html" class="dropdown-item">Invoice</a>
                                    <a href="pages-pricing.html" class="dropdown-item">Pricing</a>
                                    <a href="pages-gallery.html" class="dropdown-item">Gallery</a>
                                    <a href="pages-maintenance.html" class="dropdown-item">Maintenance</a>
                                    <a href="pages-coming-soon.html" class="dropdown-item">Coming Soon</a>
                                </div>
                            </div>
                          
                        </div>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-components" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="mdi mdi-package-variant-closed align-middle"></i></span>
                            <span class="menu-text">Components</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-ui-kit" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu megamenu-list" aria-labelledby="topnav-ui-kit">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4">
                                            <a href="ui-accordions.html" class="dropdown-item">Accordions</a>
                                            <a href="ui-alerts.html" class="dropdown-item">Alerts</a>
                                            <a href="ui-avatars.html" class="dropdown-item">Avatars</a>
                                            <a href="ui-badges.html" class="dropdown-item">Badges</a>
                                            <a href="ui-breadcrumb.html" class="dropdown-item">Breadcrumb</a>
                                            <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
                                            <a href="ui-cards.html" class="dropdown-item">Cards</a>
                                            <a href="ui-carousel.html" class="dropdown-item">Carousel</a>
                                            <a href="ui-collapse.html" class="dropdown-item">Collapse</a>
                                            <a href="ui-dropdowns.html" class="dropdown-item">Dropdowns</a>                                           
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="ui-ratios.html" class="dropdown-item">Ratios</a>
                                            <a href="ui-grid.html" class="dropdown-item">Grid</a>
                                            <a href="ui-links.html" class="dropdown-item">Links</a>
                                            <a href="ui-list-group.html" class="dropdown-item">List Group</a>
                                            <a href="ui-modals.html" class="dropdown-item">Modals</a>
                                            <a href="ui-offcanvas.html" class="dropdown-item">Offcanvas</a>
                                            <a href="ui-placeholders.html" class="dropdown-item">Placeholders</a>
                                            <a href="ui-pagination.html" class="dropdown-item">Pagination</a>
                                            <a href="ui-popovers.html" class="dropdown-item">Popovers</a>
                                           
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="ui-progress.html" class="dropdown-item">Progress</a>
                                            <a href="ui-scrollspy.html" class="dropdown-item">Scrollspy</a>
                                            <a href="ui-spinners.html" class="dropdown-item">Spinners</a>
                                            <a href="ui-tabs.html" class="dropdown-item">Tabs</a>
                                            <a href="ui-tooltips.html" class="dropdown-item">Tooltips</a>                                    
                                            <a href="ui-typography.html" class="dropdown-item">Typography</a>
                                            <a href="ui-utilities.html" class="dropdown-item">Utilities</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-extended-ui" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Extended UI
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-extended-ui">
                                    <a href="extended-sweetalerts.html" class="dropdown-item">Sweetalerts</a>
                                    <a href="extended-range-sliders.html" class="dropdown-item">Range Sliders</a>
                                    <a href="extended-ratings.html" class="dropdown-item">Ratings</a>
                                    <a href="extended-scrollbar.html" class="dropdown-item">Scrollbar</a>
                                    <a href="extended-tost.html" class="dropdown-item">Tosts</a>
                                    <a href="extended-treeview.html" class="dropdown-item">Treeview</a>                                 
                                </div>
                            </div>     
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-widgets" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Widgets
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-widgets">
                                    <a href="widgets-tiles.html" class="dropdown-item">Tile Box</a>
                                    <a href="widgets-charts.html" class="dropdown-item">Chart Widgets</a>                                                                                     
                                </div>
                            </div>             
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-icons" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="icons-materialdesign.html" class="dropdown-item">Material Design</a>
                                    <a href="icons-fontawesome.html" class="dropdown-item">Font Awesome</a>
                                    <a href="icons-simple-line.html" class="dropdown-item">Simple Line </a>
                                    <a href="icons-tabler.html" class="dropdown-item">Tabler Icons</a>
                                    <a href="icons-lucide.html" class="dropdown-item">Lucide</a>
                                    <a href="icons-iconify.html" class="dropdown-item">Iconify Icons</a>
                                </div>
                            </div>  
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-charts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="charts-flot.html" class="dropdown-item">Flot Chart</a>
                                    <a href="charts-morris.html" class="dropdown-item">Morris Charts</a>
                                    <a href="charts-chartjs.html" class="dropdown-item">Chartjs </a>
                                    <a href="charts-peity.html" class="dropdown-item">Peity Chart</a>
                                    <a href="charts-chartist.html" class="dropdown-item">Chartist Charts</a>
                                    <a href="charts-c3.html" class="dropdown-item">C3 Chart</a>
                                    <a href="charts-sparkline.html" class="dropdown-item">Sparkline Charts</a>
                                    <a href="charts-knob.html" class="dropdown-item">Jquery Knob</a>
                                </div>
                            </div>                                     
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-forms" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-forms">
                                    <a href="form-elements.html" class="dropdown-item">Basic Elements</a>
                                    <a href="form-advanced.html" class="dropdown-item">Form Advanced</a>
                                    <a href="form-masks.html" class="dropdown-item">Form Masks</a>
                                    <a href="form-picker.html" class="dropdown-item">Picker</a>
                                    <a href="form-validation.html" class="dropdown-item">Validation</a>
                                    <a href="form-wizard.html" class="dropdown-item">Wizard</a>
                                    <a href="form-fileuploads.html" class="dropdown-item">File Uploads</a>
                                    <a href="form-editors.html" class="dropdown-item">Editors</a>
                                    <a href="form-xeditable.html" class="dropdown-item">X-editable</a>
                                    <a href="form-layouts.html" class="dropdown-item">Layouts</a>
                                </div>
                            </div>
                            
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-tables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                    <a href="tables-basic.html" class="dropdown-item">Basic Tables</a>
                                    <a href="tables-datatable.html" class="dropdown-item">Data Tables</a>
                                    <a href="tables-responsive.html" class="dropdown-item">Responsive Tables</a>
                                </div>
                            </div>
                           
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-maps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Maps
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                    <a href="maps-google.html" class="dropdown-item">Google Maps</a>
                                    <a href="maps-vector.html" class="dropdown-item">Vector Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="mdi mdi-flip-horizontal"></i></span>
                            <span class="menu-text">Layouts</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <a href="index.html" class="dropdown-item" target="_blank">Vertical</a>
                            <a href="layouts-boxed.html" class="dropdown-item" target="_blank">Vertical Boxed</a>
                            <a href="layouts-horizontal.html" class="dropdown-item" target="_blank">Horizontal</a>
                            <a href="layouts-horizontal-boxed.html" class="dropdown-item" target="_blank">Horizontal Boxed</a>
                            <a href="layouts-full.html" class="dropdown-item" target="_blank">Full View</a>
                            <a href="layouts-fullscreen.html" class="dropdown-item" target="_blank">Fullscreen View</a>
                            <a href="layouts-hover.html" class="dropdown-item" target="_blank">Hover Menu</a>
                            <a href="layouts-compact.html" class="dropdown-item" target="_blank">Compact Menu</a>
                            <a href="layouts-icon-view.html" class="dropdown-item" target="_blank">Icon View</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<!-- Horizontal Menu End -->